<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Paginátion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
 
<div class = "jumbotron">
    {% for post in posts %}
 
    <h1 class="display-4">{{post.title}}</h1>
    Published {{post.publish}} by {{post.author}}
 
    {{post.body|truncatewords:30|linebreaks}}
 
    <hr class="my-4">
 
 
    {% endfor %}
 
 
</div>
 
 
{%	include	"pagination.html"	with	page=posts	%}
 
 
</body>
</html>
